<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Number_Guess</title>
</head>
<body>
<form method="post">{% csrf_token %}
    <div style="position: absolute;height: 100%;width: 100%;background-color: silver">
        <div style="padding-top:50px">
            <h1 style="margin-left: 30%">NUMBER GUESS</h1>
            <input type="text" pattern="[0-9]{1,2}" style="height: 40px;width: 500px;margin-left: 25%;" placeholder="GUESS THE NUMBER BETWEEN 1 - 99" name="check" {{ required }}>
            <br><br>
            <button name="{{ button_name }}" style="margin-left: 35%;width: 150px;height: 30px;"value="submit">{{ button_title }}</button>
            <h2 style="margin-left : 35%;">{{ msg }}</h2>
        </div>
    </div>
</form>
</body>
</html>